<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Upload XML</title>
</head>
<body>
<form action="" enctype="multipart/form-data" method="post">
    <!--/*@thymesVar id="message" type="java.lang.String"*/-->
    <h2 th:if="!${message.isEmpty()}" th:text="${message}">Message</h2>
    <h3>Select xml file to upload</h3>
    <p>
        <label for="chunkSize">Chunk Size:</label>
        <!--/*@thymesVar id="chunkSize" type="java.lang.Integer"*/-->
        <input id="chunkSize" name="chunkSize" required th:value="${chunkSize}" type="number"/><br/><br/>
        <input id="fileToUpload" name="fileToUpload" required type="file"><br/>
    </p>
    <p>
        <input name="submit" type="submit" value="Upload">
    </p>
</form>
</body>
</html>